.idea
t2-pr2-proves-i-refaccio-alCobo01 priv.iml
Projecte VS/.vs
Projecte VS/T2-PR2-ConsoleApp/.vs
Projecte VS/T2-PR2-ConsoleApp/obj
Projecte VS/T2-PR2-ConsoleApp/bin
Projecte VS/T2-PR2-ClassLibrary/obj
Projecte VS/T2-PR2-ClassLibrary/bin
Projecte VS/T2-PR2-MSTest/bin
Projecte VS/T2-PR2-MSTest/obj